
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
}
h1{
    text-align: left;
    font: SemiBold;
    letter-spacing: 0;
    color: #42495B;
    opacity: 1;
    margin-bottom: 1rem;
}

h2{
    text-align: center;
    letter-spacing: 0;
    color: #42495B;
    opacity: 1;
}
h5{
    text-align: left;
    letter-spacing: 0;
    color: #42495B;
    opacity: 1;
    margin-bottom: 1rem;
}

h6{
    text-align: left;
    letter-spacing: 0;
    color: #7DC349;
    opacity: 1;
    margin-bottom: 1rem;
}

p{
    text-align: left;
    font-size: 16px; 
    letter-spacing: 0;
    color: #7A839E;
    opacity: 1;
    margin-bottom: 1.5rem;
}
img{
    max-width: 100%;
}

.container{
    max-width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
    display: grid;
    backface-visibility: hidden;
    justify-content: center;
}
.header{
    grid-template-columns: 40% 60%;
}
/*estilos para el lado izquierdo*/

.bar_left{
    display: grid;
    grid-template-rows: 15% 85%;
    animation-name: moveInBottom;
    animation-duration: 3s;
    
}

.logo{
    margin-top: 0.5rem;
    margin-bottom: 10rem;
}

.content{
    display: grid;
    grid-template-rows: 30% 70%;
    align-items: center;
}

.social_media{
  display: grid;
  grid-template-columns: 4% 96%;
  
}

.media{
    margin-top: -2rem;
    margin-bottom: 4rem;
}

.slogan{
    margin-top: 4rem;
    margin-left: 5rem;
    margin-bottom: -5rem;
   
}

.slogan p{
    font-size: 30px;
    text-align: left;
    font: helvetica;
    letter-spacing: 0;
    color: #42495B;
    opacity: 1;
}
.button{

}

.btn{
    margin-left: 4rem;
    background: #7DC349;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: .6rem 1.2rem;
    border-radius: 3rem;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
}

/*estilos para el lado derecho del header*/

.header .menu_bubble{
    height: 95vh;
    background-image: url(../imagenes/waive1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 3s;
}
.menu_bubble2{
    height: 95vh;
    background-image: url(../imagenes/waive3.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}
.menu_bubble .menu_links{
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.menu_bubble .menu_links a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin-left: 1rem;
}

/****************estilos contenido principal*************/

.main{
    grid-template-columns: 50% 50%;
    align-items: center;
}
.who_are_we{
    margin-left: 4rem;
}

.meet_me{
    animation-name: moveInRight;
    animation-duration: 3s;
}

.meet_us{
   animation-name: moveInTop;
   animation-duration: 3s;
}

.meet_us .btn{
    padding: .6rem 4rem;
    margin-left: 0px; 
}
.meet_us .last_p{
    margin-bottom: 3rem;
}

/***********footer******************/

.footer{
    grid-template-columns: 100%;
    margin-top: 10rem;
    animation-name: moveInBottom;
    animation-duration: 2s;
     
}

.offers{
    text-align: center;
}

.offers h5{
 text-align: center;
 letter-spacing: 0;
    color: #7DC349;
    opacity: 1;
    margin-bottom: 1rem;
}

.offers h2{
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.offers .btn{
    padding: .6rem 2rem;
    border: none;
}

.input_email{
    width: 25%;
    text-align: center;  
    border-radius: 10px;
}

.contact{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 5%;
    height: 50vh;
    color: #FFFFFF;
    background-color: #41a6ff;
    /*background-image: url(../imagenes/waive2.svg);*/
    background-size: cover;
    text-align: center;
}

.social_footer{
    display: grid;
    grid-template-rows: 80% 20%;
    justify-content: center;
    
}

.logo_blanco{
    margin-top: 50%;
    margin-left: 5%;
    max-width: 100%;
}

.media_footer{
    margin-left: 1rem;
    max-width: 100%;

}

.quick_links{
    margin-top: 30%;
    display: grid;
    grid-template-rows: 20% 80%;
}
.quick_links h4{
    text-align: left;
    margin-top: 10%;
}
.quick_links p{
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    font-family: poppins;
    margin-top: 1.5rem;
    font-size: 12px;
}

.tarjetas{
    margin-top: 6rem;
    grid-template-rows: 20% 80%;
}

.contact_footer{

}


/*estilos de los cards*/

.cards{
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem;
    animation-name: moveInbottom;
    animation-duration: 2s;
}

.card{
    flex: 0 1 calc(33.33%);
    padding: 3rem;
    text-align: center;
    animation-name: moveInBottom;
    animation-duration: 2s;
}
.card img{
    margin-bottom: 2rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
}

.card .btn{
    margin: 0;
    padding: .2rem 1rem;
}

.card p{
    font-size: 12px;
    margin-bottom: 3rem;
}
/***********estilos del slider**********/

.slider{
    background-color: rgb(168, 224, 125);
    grid-template-rows: 20% 80%;
    text-align: center;
    max-width: 95%;
    margin: 0 auto;
    padding-left: 2rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
}

.slider h5{
    text-align: center;
    padding: 2rem;
    margin: -2rem;
  
}
.margintop{
    margin-top: 5rem;
}
.slider .btn{
    margin-left: 0.5rem;

}

.slider h1{
    text-align: center;
    margin-bottom: 2rem;
}

.glide__slide{
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-bottom: 5rem;
}

.glide__slide h3{
    font-weight: 200;
    padding: 2rem;
}

.glide__slide p{
    text-align: center;
    font-size: 14px;
    margin-bottom: 2rem;
}

.precio p{
    font-size: 24px;
    text-align: center;
    color: #7DC349;
    margin-bottom: -1%;
    
}
.precio h5{
    font-weight: 600;
    font-size: 10px;
    display: inline-block;
    margin-bottom: 1rem;
}

.glide__bullet--active{
    background-color: green;
}



/*estilos de la galeria*/
.gallery{
    display: grid;
    grid-template-rows: 20% 80%;
    animation-name: moveInRight;
    animation-duration: 3s;
}
.gallery_title{
    margin-top: 3rem;
}
.gallery_title h6{
    text-align: center;
}

.pictures{
    margin-left: 10rem;
    margin-right: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.picture{
    flex: 0 1 calc(33.33%);
    margin-bottom: 3rem;
   
}

.picture img{
    max-width: 75%;
}

/******estilos de la pagina descripcio**************/

.paquete{
    display: grid;
    grid-template-rows: 70% 30%;
    padding: 15%;
    
}

.paquete img{
    max-width: 60%;
    margin-top: 10%;

     
}

.package_description{
    display: grid;
    grid-template-rows: 20% 80%;  
    margin-top: 10%;

    
}



.package_header {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: left;
}

.package_header h2{
    text-align: left;
}

.package_description p{
    margin-top: 1.5rem;
}

.package_price{
    margin-top: -20%;

}
.package_price p {
    margin-top: 1.5rem;
    font-size: 24px;
    color: #7DC349;
    margin-bottom: 1.5rem;
} 
.package_price .btn{
   margin:   0;
   padding: .6rem 3.5rem;

}


.list{
    background-color: white;
    border-radius: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: left;  
    padding: 2rem;  
}

.list ul{
    margin: 2rem;
}

.list li{
    margin: 1rem;
}

.list h3{
    
    margin-left: 1rem;
}
/**********animaciones**************/

@keyframes moveInLeft{
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom{
    0% {
        opacity: 0;
        transform: translatey(200px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop{
    0% {
        opacity: 0;
        transform: translatey(-200px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn:hover {
    transform: translateY(-3px);
}

.btn:active{
    transform: translateY(-1px);
}